/*  Custom VC params  */
.uberwpb-vc-img-select img{max-width:100%; padding:0;-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;}
.uberwpb-vc-img-select li{float:left;text-align:center;}
.uberwpb-vc-img-select li a{    float: left;
    margin-bottom: 20px;
    border-color: rgba(20, 21, 23, .2);
    border-width: 1px;
    border-style: solid;
    padding: 6px 6px 2px 6px;
    background: #fff;}
.uberwpb-vc-img-select .selected   { background: #0c5280;-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;}
	
.uberwpb-vc-img-select .vc_col-sm-6:nth-child(2n+1){clear:both}
.uberwpb-vc-img-select li.vc_col-sm-6:nth-child(2n+1){clear:none}

.icon_style  .uberwpb-vc-img-select img{max-width:80%; padding: 6px 0 4px 0;}	
.icon_style  .uberwpb-vc-img-select li{width:9%;margin: 0 1% 0 0;margin-bottom:15px; padding:0}

.uber_wpb_vc_font_icon_block .vc_pixel_icon{width: 100%}

.uberwpb-vc-font-icon-select{width: 100%;
    max-height: 220px;
    overflow-y: scroll;}
.uberwpb-vc-font-icon-select .search{background:none !important}
.uberwpb-vc-font-icon-select ul{display:none;
    margin-top: 0;}
.view_element{display:block !important}
.uberwpb-vc-font-icon-select ul li{float:left; margin-bottom:2px; }
.uberwpb-vc-font-icon-select ul li i.selected{border:1px solid red;}
.uberwpb-vc-font-icon-select ul li i{font-size:48px; margin: 2px; padding:10px; border: 1px solid #ececec; cursor: pointer; text-align: center; width:70px;}
	
.uber_wpb_vc_font_icon_block .uber_wpb_vc_font_icon_class{display:none;margin-top:10px;margin-bottom: 10px;}
	
.uber_wpb_vc_font_icon_block .selector {
    border: 1px solid #ededed;
    background-color: #fff;
	
}
.uber_wpb_vc_font_icon_block .selector {
    display: inline-block;
    height: 60px;
}	

.uber_wpb_vc_font_icon_block .selected-icon {
    display: block;
    width: 60px;
    height: 100%;
    float: left;
    text-align: center;
	padding-top:10px
}
.uber_wpb_vc_font_icon_block .selected-icon i{line-height: 40px;
    font-size: 40px;
    cursor: default;}
	
	
.uber_wpb_vc_font_icon_block .selector-button {
    background-color: #f4f4f4;
    border-left: 1px solid #e1e1e1;
    color: #999;
}
.uber_wpb_vc_font_icon_block .selector-button {
    width: 39px;
    height: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
    float: left;
}	
.uber_wpb_vc_font_icon_block .selector-button i{    color: #aaa;
    text-shadow: 0 1px 0 #fff;    line-height: 65px;
    text-align: center;}

.uber_wpb_vc_font_icon_block .selector-delete-button {
    width: 39px;
    height: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
    float: left;
	background-color: #f4f4f4;
    border-left: 1px solid #e1e1e1;
    color: #999;
}	
.uber_wpb_vc_font_icon_block .selector-delete-button i{    color: #ffbfbf;
    text-shadow: 0 1px 0 #fff;    line-height: 65px;
    text-align: center;}	
.uber_wpb_vc_img_select_block.team_style li img{}

.uber_wpb_vc_font_icon_block .uber_wpb_vc_font_icon_search{display:none;margin-top:10px;margin-bottom: 10px;color: lightgrey;}

#uber_wpb_headings  .uber_wpb_headings{background-image:url(../thumbs/sprites.png); background-position:0 0;}
.wpb_uber_wpb_headings .uber_wpb_headings{background-image:url(../thumbs/sprites.png); background-position:0 0;}

#uber_wpb_portfolio  .uber_wpb_portfolio{background-image:url(../thumbs/sprites.png); background-position:0 -32px;}
.wpb_uber_wpb_portfolio .uber_wpb_portfolio{background-image:url(../thumbs/sprites.png); background-position:0 -32px;}

#uber_wpb_list  .uber_wpb_list{background-image:url(../thumbs/sprites.png); background-position:0 -64px;}
.wpb_uber_wpb_list .uber_wpb_list{background-image:url(../thumbs/sprites.png); background-position:0 -64px;}

#uber_wpb_team  .uber_wpb_team{background-image:url(../thumbs/sprites.png); background-position:0 -96px;}
.wpb_uber_wpb_team .uber_wpb_team{background-image:url(../thumbs/sprites.png); background-position:0 -96px;}

#uber_wpb_facts  .uber_wpb_facts{background-image:url(../thumbs/sprites.png); background-position:0 -128px;}
.wpb_uber_wpb_facts .uber_wpb_facts{background-image:url(../thumbs/sprites.png); background-position:0 -128px;}

#uber_wpb_posts  .uber_wpb_posts{background-image:url(../thumbs/sprites.png); background-position:0 -160px;}
.wpb_uber_wpb_posts .uber_wpb_posts{background-image:url(../thumbs/sprites.png); background-position:0 -160px;}

#uber_wpb_pricing_tables  .uber_wpb_pricing_tables{background-image:url(../thumbs/sprites.png); background-position:0 -192px;}
.wpb_uber_wpb_posts .uber_wpb_pricing_tables{background-image:url(../thumbs/sprites.png); background-position:0 -192px;}

#uber_wpb_social  .uber_wpb_social{background-image:url(../thumbs/sprites.png); background-position:0 -224px;}
.wpb_uber_wpb_posts .uber_wpb_social{background-image:url(../thumbs/sprites.png); background-position:0 -224px;}

#uber_wpb_banners  .uber_wpb_banners{background-image:url(../thumbs/sprites.png); background-position:0 -256px;}
.wpb_uber_wpb_banners .uber_wpb_banners{background-image:url(../thumbs/sprites.png); background-position:0 -256px;}

#uber_wpb_button  .uber_wpb_button{background-image:url(../thumbs/sprites.png); background-position:0 -288px;}
.wpb_uber_wpb_button .uber_wpb_button{background-image:url(../thumbs/sprites.png); background-position:0 -288px;}


div.fancy-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
div.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
div.fancy-line:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

div.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

div.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 75%);
}
div.no-line {height:0px;}
.uber_wpb_custom_admin_h2{font-size:20px; color:#000; font-weight:900}

/* Pricing Tables*/
.uber_wpb_vc_pricing_table_block a.plus{
    padding: 9px;
        color: grey;
		    border: 1px solid grey;
			    font-size: 26px;
    margin-right: 6px;
    text-decoration: none;
    margin-top: 22px;
    float: left;}
.uber_wpb_vc_pricing_table_block a.minus{
    padding: 9px;
    color: #ff4d4d;
    margin-right: 20px;
	border: 1px solid #ff4d4d;
	font-size: 26px;
    text-decoration: none;
    margin-top: 22px;
    float: left;}
.uber_wpb_vc_pricing_values{margin-bottom:20px;float: left;    width: 100%;}
.uber_wpb_vc_pricing_values .vc_col-sm-5:first-child{padding-left:0 !important;}
.edit_form_line .line{height: 1px; background: #cecece; margin: 20px 0 10px 0;}

.vc_shortcode-param.vc_column:first-child{padding-top:15px !important }

/* google font customize */
.vc_wrapper-param-type-google_fonts > .edit_form_line > div:nth-child(1){
	    width: 48%; float:left; padding-right:2%;padding-top:0;
}
.vc_wrapper-param-type-google_fonts > .edit_form_line > div:nth-child(2){
	    width: 48%; float:left;padding-left:2%;margin-bottom: 15px;padding-top:0;
}

.vc_element_label, .wpb_element_label {
    font-weight: 700; color:#000;
}


/* Simple List */
.uber_wpb_vc_list_block a.plus{
    padding: 9px;
        color: grey;
		    border: 1px solid grey;
			    font-size: 26px;
    margin-right: 6px;
    text-decoration: none;
    margin-top: 22px;
    float: left;}
.uber_wpb_vc_list_block a.minus{
    padding: 9px;
    color: #ff4d4d;
    margin-right: 20px;
	border: 1px solid #ff4d4d;
	font-size: 26px;
    text-decoration: none;
    margin-top: 22px;
    float: left;}
.uber_wpb_vc_list_values{margin-bottom:20px;	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}
.uber_wpb_vc_list_values .link_plus{
    padding: 9px;
    color: #45abe6;
    font-size: 22px;
    margin-right: 6px;
    text-decoration: none;
    float: left;
}
.uber_wpb_vc_list_values .link_input_holder{
	position: absolute;
	padding: 10px 20px;
	opacity:0;
	visibility:hidden;
    top: 50%;
    right: 60%;
    background: #f6f6f6;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.25);
    box-shadow: 1px 1px 4px rgba(0,0,0,.25);
	z-index: 10;
}
.uber_wpb_vc_list_values .link_input_holder.visible{
	opacity:1;
	visibility:visible;	
}

.uber_wpb_vc_list_values .uberwpb-list-link{
	width:200px;
	margin-bottom: 15px;
}
.link_input_holder .link_button{
	float:left;
	color:#e28686;
}
.link_input_holder .link_button.save{
	float:right;
	color:#5fa053;
}

.uber_wpb_list_icon{    min-width: 24px;min-height: 24px;border: 1px solid grey;float: left;cursor: pointer;font-size: 25px;    text-align: center;padding: 5px;}
.uber_wpb_list_color{ min-width: 24px;min-height: 24px;border: 1px solid grey;float: left;cursor: pointer;font-size: 25px;    text-align: center;padding: 5px;}

.uber_wpb_list_change_font{position:absolute; top:0; background:#f4f4f4;width: 100%;z-index:100;padding:10px;border: 1px solid #dedede;}
.list_color_picker{width:100%;margin-top:10px;    float: left; display:none;}

.list_color_picker .wp-picker-container{
	position: absolute;
    background: #efefef;
    padding: 20px;
    opacity: 1;
    z-index: 1000;
    right: 0;
    border-radius: 6px;
}
.uber_wpb_list_change_font.closed{visibility: hidden;}	
	
	
.vc_ui-panel-window[data-vc-shortcode="uber_wpb_simple_heading"] .#mceu_60 { display:none }

.uber_wpb_vc_presets_select img{max-width:100%}

.uber_wpb_preset_id a img { border: 10px solid #eee; box-sizing:border-box }
.uber_wpb_preset_id a:focus img { border: 10px solid #23a9ff; }
.uber_wpb_preset_id a:hover img { border: 10px solid #c5c5c5; }
a.uber_wpb_preset_id_link:focus{ box-shadow: none;}
span.uber_wpb_vc_presets_info  {line-height:1.5em }
[data-vc-shortcode-param-name="product_cat"] label.vc_checkbox-label{
	min-width:48%; display:inline-block
}

/* wow confirm box */
.uber_wpb_vc_presets_select{position:relative}
.uber_wpb_confirm_box{ 
	display:none;
    box-sizing: border-box;
	padding: 20px 10px 20px 30px;
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #23282d;
	color:#ffffff;
	min-height:200px;
	overflow: visible;
    z-index: 10;
}
.uber_wpb_confirm_box a:first-child{margin-right:10px}
.uber_wpb_confirm_box h3{ color:#fff } 

[data-vc-shortcode-param-name="h1_high"] .wpb_element_label,
[data-vc-shortcode-param-name="h2_high"] .wpb_element_label,
[data-vc-shortcode-param-name="h2_light"] .wpb_element_label,
[data-vc-shortcode-param-name="h2_light_high"] .wpb_element_label{ 
	font-size:12px;
	color:#565656
}

	  
.responsive_width .uberwpb-vc-img-select li{
	width: 125px;
    margin: 0 1% 0 0;
    margin-bottom: 15px;
    padding: 0;
}
.responsive_width .uberwpb-vc-img-select li a{
    padding: 20px;
}
div[data-vc-shortcode-param-name="responsive_width"]{
	margin-bottom:-50px
}

/* uber_wpb_vc_responsive_box */
.uber_wpb_responsive_design_block .uber_wpb_layout-onion{
	float:left;
	width:100%;
}
.uber_wpb_responsive_design_block .uber_wpb_layout-onion *{
    position: relative;
}
.uber_wpb_responsive_design_block .uber_wpb_layout-onion label{
    position: absolute;
    font-size: 9px;
    line-height: 9px;
    top: 6px;
    left: 5px;
    color: #2c2c2c;
    margin: 0;
    padding: 0;

}
.uber_wpb_responsive_design_block .uber_wpb_layout-onion input{
    position: absolute;
    text-align: center;
    padding: 3px 0;
    height: 24px;
    width: 34px;
    margin: 0;
    border: 1px solid #bdbdbd;
    font-size: 11px;
    line-height: 11px;
}
.uber_wpb_responsive_design_block .uber_wpb_layout-onion .uber_wpb_margin{
    width: 232px;
	height: 230px;
    border: 1px solid #d7d7d7;
    background: #f6f6f6;
}
.uber_wpb_responsive_design_block .uber_wpb_layout-onion .uber_wpb_padding{
	width: 142px;
	height: 140px;
	border: 1px solid #bababa;
    background: #ebebeb;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}
.uber_wpb_responsive_design_block .uber_wpb_layout-onion .uber_wpb_content{

	border: 1px solid #bababa;
    height: 50px;
	width:50px;
    padding: 0;
    text-align: center;
    font-size: 10px;
    line-height: 11px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;	
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}
.uber_wpb_responsive_design_block .uber_wpb_layout-onion input.uber_wpb_top{
    top: 11px;
    left: 50%;
    margin-left: -17px;	
}
.uber_wpb_responsive_design_block .uber_wpb_layout-onion input.uber_wpb_right{
    top: 50%;
    right: 5px;
    margin-top: -12px;
}
.uber_wpb_responsive_design_block .uber_wpb_layout-onion input.uber_wpb_bottom{
    bottom: 11px;
    left: 50%;
    margin-left: -17px;
}
.uber_wpb_responsive_design_block .uber_wpb_layout-onion input.uber_wpb_left{
	top: 50%;
    left: 5px;
    margin-top: -12px;
}

/* Go to this */
.uber_wpb_vc_go_to_block .first_level_ul a{
    padding: 3px;
	box-shadow:none;
	outline:none;
	text-decoration:none;
	border:solid 1px #fff;	
}
.first_level_ul li{
	margin:10px 0
}
.uber_wpb_vc_go_to_block .first_level_ul a:hover{
	border:solid 1px #03A9F4;	
}
.uber_wpb_vc_go_to_block .hide{
	display:none;
}
.uber_wpb_vc_go_to_block .uber_wpb_empty_menu,
.uber_wpb_vc_go_to_block .uber_wpb_open_menu{
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;	
	color: #fff;
	outline:none;
	box-shadow:none;
	padding:5px 10px;
	text-decoration:none;
}
.go-to{
	margin:10px 0
}
.uber_wpb_vc_go_to_block .uber_wpb_open_menu{
    background: #23a9ff;
	border:solid 1px #23a9ff;	
}
.uber_wpb_vc_go_to_block .uber_wpb_empty_menu{
	background-color: #ff2525; 	
	border:solid 1px #ff2525;	
}
.uber_wpb_vc_go_to_block li.selected a{
    font-weight: bold;
    background: #03A9F4;
    color: #fff;
	border:solid 1px #03A9F4;	
}
#visual_composer_content .vc_custom-element-container img{
	height:100%;
	max-height:80px;
}