@font-face {
  font-family: 'webapplication';
  src:  url('fonts/icomoon.eot?weby9');
  src:  url('fonts/icomoon.eot?weby9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?weby9') format('truetype'),
    url('fonts/icomoon.woff?weby9') format('woff'),
    url('fonts/icomoon.svg?weby9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="uberwpb-webapplication-"], [class*=" uberwpb-webapplication-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'webapplication' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uberwpb-webapplication-addons:before {
  content: "\ef66";
}
.uberwpb-webapplication-address-book:before {
  content: "\ef67";
}
.uberwpb-webapplication-adjust:before {
  content: "\ef68";
}
.uberwpb-webapplication-alarm:before {
  content: "\ef69";
}
.uberwpb-webapplication-anchor:before {
  content: "\ef6a";
}
.uberwpb-webapplication-archive:before {
  content: "\ef6b";
}
.uberwpb-webapplication-at:before {
  content: "\ef6c";
}
.uberwpb-webapplication-attachment:before {
  content: "\ef6d";
}
.uberwpb-webapplication-audio:before {
  content: "\ef6e";
}
.uberwpb-webapplication-auto-mobile:before {
  content: "\ef6f";
}
.uberwpb-webapplication-automation:before {
  content: "\ef70";
}
.uberwpb-webapplication-baby:before {
  content: "\ef71";
}
.uberwpb-webapplication-badge:before {
  content: "\ef72";
}
.uberwpb-webapplication-bag:before {
  content: "\ef73";
}
.uberwpb-webapplication-ban:before {
  content: "\ef74";
}
.uberwpb-webapplication-bank:before {
  content: "\ef75";
}
.uberwpb-webapplication-bar-code:before {
  content: "\ef76";
}
.uberwpb-webapplication-bars:before {
  content: "\ef77";
}
.uberwpb-webapplication-battery-empty:before {
  content: "\ef78";
}
.uberwpb-webapplication-battery-full:before {
  content: "\ef79";
}
.uberwpb-webapplication-battery-half:before {
  content: "\ef7a";
}
.uberwpb-webapplication-battery-low:before {
  content: "\ef7b";
}
.uberwpb-webapplication-beach:before {
  content: "\ef7c";
}
.uberwpb-webapplication-beaker:before {
  content: "\ef7d";
}
.uberwpb-webapplication-bear:before {
  content: "\ef7e";
}
.uberwpb-webapplication-beard:before {
  content: "\ef7f";
}
.uberwpb-webapplication-bed:before {
  content: "\ef80";
}
.uberwpb-webapplication-bell:before {
  content: "\ef81";
}
.uberwpb-webapplication-beverage:before {
  content: "\ef82";
}
.uberwpb-webapplication-bicycle:before {
  content: "\ef83";
}
.uberwpb-webapplication-bill:before {
  content: "\ef84";
}
.uberwpb-webapplication-bin:before {
  content: "\ef85";
}
.uberwpb-webapplication-binary:before {
  content: "\ef86";
}
.uberwpb-webapplication-binoculars:before {
  content: "\ef87";
}
.uberwpb-webapplication-bird:before {
  content: "\ef88";
}
.uberwpb-webapplication-birds:before {
  content: "\ef89";
}
.uberwpb-webapplication-black-board:before {
  content: "\ef8a";
}
.uberwpb-webapplication-bluetooth:before {
  content: "\ef8b";
}
.uberwpb-webapplication-bolt:before {
  content: "\ef8c";
}
.uberwpb-webapplication-bomb:before {
  content: "\ef8d";
}
.uberwpb-webapplication-book-mark:before {
  content: "\ef8e";
}
.uberwpb-webapplication-book:before {
  content: "\ef8f";
}
.uberwpb-webapplication-boot:before {
  content: "\ef90";
}
.uberwpb-webapplication-box:before {
  content: "\ef91";
}
.uberwpb-webapplication-brain:before {
  content: "\ef92";
}
.uberwpb-webapplication-briefcase:before {
  content: "\ef93";
}
.uberwpb-webapplication-broken:before {
  content: "\ef94";
}
.uberwpb-webapplication-bucket:before {
  content: "\ef95";
}
.uberwpb-webapplication-bucket1:before {
  content: "\ef96";
}
.uberwpb-webapplication-bucket2:before {
  content: "\ef97";
}
.uberwpb-webapplication-bug:before {
  content: "\ef98";
}
.uberwpb-webapplication-building:before {
  content: "\ef99";
}
.uberwpb-webapplication-bullet:before {
  content: "\ef9a";
}
.uberwpb-webapplication-bullhorn:before {
  content: "\ef9b";
}
.uberwpb-webapplication-bullseye:before {
  content: "\ef9c";
}
.uberwpb-webapplication-bus:before {
  content: "\ef9d";
}
.uberwpb-webapplication-butterfly:before {
  content: "\ef9e";
}
.uberwpb-webapplication-cab:before {
  content: "\ef9f";
}
.uberwpb-webapplication-calculator:before {
  content: "\efa0";
}
.uberwpb-webapplication-calendar:before {
  content: "\efa1";
}
.uberwpb-webapplication-camera-alt:before {
  content: "\efa2";
}
.uberwpb-webapplication-camera:before {
  content: "\efa3";
}
.uberwpb-webapplication-car:before {
  content: "\efa4";
}
.uberwpb-webapplication-card:before {
  content: "\efa5";
}
.uberwpb-webapplication-cart:before {
  content: "\efa6";
}
.uberwpb-webapplication-cc:before {
  content: "\efa7";
}
.uberwpb-webapplication-certificate:before {
  content: "\efa8";
}
.uberwpb-webapplication-charging:before {
  content: "\efa9";
}
.uberwpb-webapplication-chat:before {
  content: "\efaa";
}
.uberwpb-webapplication-check-alt:before {
  content: "\efab";
}
.uberwpb-webapplication-check-circled:before {
  content: "\efac";
}
.uberwpb-webapplication-check:before {
  content: "\efad";
}
.uberwpb-webapplication-checked:before {
  content: "\efae";
}
.uberwpb-webapplication-children-care:before {
  content: "\efaf";
}
.uberwpb-webapplication-clock-time:before {
  content: "\efb0";
}
.uberwpb-webapplication-close-circled:before {
  content: "\efb1";
}
.uberwpb-webapplication-close-line-circled:before {
  content: "\efb2";
}
.uberwpb-webapplication-close-line-squared-alt:before {
  content: "\efb3";
}
.uberwpb-webapplication-close-line-squared:before {
  content: "\efb4";
}
.uberwpb-webapplication-close-line:before {
  content: "\efb5";
}
.uberwpb-webapplication-close-squared-alt:before {
  content: "\efb6";
}
.uberwpb-webapplication-close-squared:before {
  content: "\efb7";
}
.uberwpb-webapplication-close:before {
  content: "\efb8";
}
.uberwpb-webapplication-cloud-download:before {
  content: "\efb9";
}
.uberwpb-webapplication-cloud-refresh:before {
  content: "\efba";
}
.uberwpb-webapplication-cloud-upload:before {
  content: "\efbb";
}
.uberwpb-webapplication-cloud:before {
  content: "\efbc";
}
.uberwpb-webapplication-code-not-allowed:before {
  content: "\efbd";
}
.uberwpb-webapplication-code:before {
  content: "\efbe";
}
.uberwpb-webapplication-coffee-cup:before {
  content: "\efbf";
}
.uberwpb-webapplication-comment:before {
  content: "\efc0";
}
.uberwpb-webapplication-compass:before {
  content: "\efc1";
}
.uberwpb-webapplication-computer:before {
  content: "\efc2";
}
.uberwpb-webapplication-connection:before {
  content: "\efc3";
}
.uberwpb-webapplication-console:before {
  content: "\efc4";
}
.uberwpb-webapplication-contacts:before {
  content: "\efc5";
}
.uberwpb-webapplication-contrast:before {
  content: "\efc6";
}
.uberwpb-webapplication-copy:before {
  content: "\efc7";
}
.uberwpb-webapplication-copyright:before {
  content: "\efc8";
}
.uberwpb-webapplication-credit-card:before {
  content: "\efc9";
}
.uberwpb-webapplication-crop:before {
  content: "\efca";
}
.uberwpb-webapplication-crown:before {
  content: "\efcb";
}
.uberwpb-webapplication-cube:before {
  content: "\efcc";
}
.uberwpb-webapplication-cubes:before {
  content: "\efcd";
}
.uberwpb-webapplication-culinary:before {
  content: "\efce";
}
.uberwpb-webapplication-dashboard-web:before {
  content: "\efcf";
}
.uberwpb-webapplication-dashboard:before {
  content: "\efd0";
}
.uberwpb-webapplication-data:before {
  content: "\efd1";
}
.uberwpb-webapplication-database-add:before {
  content: "\efd2";
}
.uberwpb-webapplication-database-locked:before {
  content: "\efd3";
}
.uberwpb-webapplication-database-remove:before {
  content: "\efd4";
}
.uberwpb-webapplication-database:before {
  content: "\efd5";
}
.uberwpb-webapplication-delete:before {
  content: "\efd6";
}
.uberwpb-webapplication-diamond:before {
  content: "\efd7";
}
.uberwpb-webapplication-dice:before {
  content: "\efd8";
}
.uberwpb-webapplication-disabled:before {
  content: "\efd9";
}
.uberwpb-webapplication-disc:before {
  content: "\efda";
}
.uberwpb-webapplication-diskette:before {
  content: "\efdb";
}
.uberwpb-webapplication-document-folder:before {
  content: "\efdc";
}
.uberwpb-webapplication-download-alt:before {
  content: "\efdd";
}
.uberwpb-webapplication-download:before {
  content: "\efde";
}
.uberwpb-webapplication-downloaded:before {
  content: "\efdf";
}
.uberwpb-webapplication-earth:before {
  content: "\efe0";
}
.uberwpb-webapplication-ebook:before {
  content: "\efe1";
}
.uberwpb-webapplication-edit:before {
  content: "\efe2";
}
.uberwpb-webapplication-eject:before {
  content: "\efe3";
}
.uberwpb-webapplication-email:before {
  content: "\efe4";
}
.uberwpb-webapplication-envelope-open:before {
  content: "\efe5";
}
.uberwpb-webapplication-envelope:before {
  content: "\efe6";
}
.uberwpb-webapplication-eraser:before {
  content: "\efe7";
}
.uberwpb-webapplication-error:before {
  content: "\efe8";
}
.uberwpb-webapplication-exchange:before {
  content: "\efe9";
}
.uberwpb-webapplication-exclamation-circle:before {
  content: "\efea";
}
.uberwpb-webapplication-exclamation-square:before {
  content: "\efeb";
}
.uberwpb-webapplication-exclamation-tringle:before {
  content: "\efec";
}
.uberwpb-webapplication-exclamation:before {
  content: "\efed";
}
.uberwpb-webapplication-exit:before {
  content: "\efee";
}
.uberwpb-webapplication-expand:before {
  content: "\efef";
}
.uberwpb-webapplication-external-link:before {
  content: "\eff0";
}
.uberwpb-webapplication-external:before {
  content: "\eff1";
}
.uberwpb-webapplication-eye-blocked:before {
  content: "\eff2";
}
.uberwpb-webapplication-eye-dropper:before {
  content: "\eff3";
}
.uberwpb-webapplication-eye:before {
  content: "\eff4";
}
.uberwpb-webapplication-favourite:before {
  content: "\eff5";
}
.uberwpb-webapplication-fax:before {
  content: "\eff6";
}
.uberwpb-webapplication-female:before {
  content: "\eff7";
}
.uberwpb-webapplication-file:before {
  content: "\eff8";
}
.uberwpb-webapplication-film:before {
  content: "\eff9";
}
.uberwpb-webapplication-filter:before {
  content: "\effa";
}
.uberwpb-webapplication-fire-burn:before {
  content: "\effb";
}
.uberwpb-webapplication-fire-extinguisher:before {
  content: "\effc";
}
.uberwpb-webapplication-fire:before {
  content: "\effd";
}
.uberwpb-webapplication-first-aid:before {
  content: "\effe";
}
.uberwpb-webapplication-flag-alt-1:before {
  content: "\efff";
}
.uberwpb-webapplication-flag-alt-2:before {
  content: "\f000";
}
.uberwpb-webapplication-flag:before {
  content: "\f001";
}
.uberwpb-webapplication-flash-light:before {
  content: "\f002";
}
.uberwpb-webapplication-flash:before {
  content: "\f003";
}
.uberwpb-webapplication-flask:before {
  content: "\f004";
}
.uberwpb-webapplication-focus:before {
  content: "\f005";
}
.uberwpb-webapplication-folder-open:before {
  content: "\f006";
}
.uberwpb-webapplication-folder:before {
  content: "\f007";
}
.uberwpb-webapplication-foot-print:before {
  content: "\f008";
}
.uberwpb-webapplication-football-american:before {
  content: "\f009";
}
.uberwpb-webapplication-football:before {
  content: "\f00a";
}
.uberwpb-webapplication-game-console:before {
  content: "\f00b";
}
.uberwpb-webapplication-game-pad:before {
  content: "\f00c";
}
.uberwpb-webapplication-gavel:before {
  content: "\f00d";
}
.uberwpb-webapplication-gear:before {
  content: "\f00e";
}
.uberwpb-webapplication-gears:before {
  content: "\f00f";
}
.uberwpb-webapplication-gift:before {
  content: "\f010";
}
.uberwpb-webapplication-glass:before {
  content: "\f011";
}
.uberwpb-webapplication-globe:before {
  content: "\f012";
}
.uberwpb-webapplication-graduate:before {
  content: "\f013";
}
.uberwpb-webapplication-graffiti:before {
  content: "\f014";
}
.uberwpb-webapplication-grocery:before {
  content: "\f015";
}
.uberwpb-webapplication-group:before {
  content: "\f016";
}
.uberwpb-webapplication-hammer:before {
  content: "\f017";
}
.uberwpb-webapplication-hand:before {
  content: "\f018";
}
.uberwpb-webapplication-hanger:before {
  content: "\f019";
}
.uberwpb-webapplication-hard-disk:before {
  content: "\f01a";
}
.uberwpb-webapplication-headphone:before {
  content: "\f01b";
}
.uberwpb-webapplication-heart-beat:before {
  content: "\f01c";
}
.uberwpb-webapplication-heart:before {
  content: "\f01d";
}
.uberwpb-webapplication-history:before {
  content: "\f01e";
}
.uberwpb-webapplication-home:before {
  content: "\f01f";
}
.uberwpb-webapplication-horn:before {
  content: "\f020";
}
.uberwpb-webapplication-hotel:before {
  content: "\f021";
}
.uberwpb-webapplication-hour-glass:before {
  content: "\f022";
}
.uberwpb-webapplication-id:before {
  content: "\f023";
}
.uberwpb-webapplication-image:before {
  content: "\f024";
}
.uberwpb-webapplication-inbox:before {
  content: "\f025";
}
.uberwpb-webapplication-infinite:before {
  content: "\f026";
}
.uberwpb-webapplication-info-circle:before {
  content: "\f027";
}
.uberwpb-webapplication-info-square:before {
  content: "\f028";
}
.uberwpb-webapplication-info:before {
  content: "\f029";
}
.uberwpb-webapplication-institution:before {
  content: "\f02a";
}
.uberwpb-webapplication-interface:before {
  content: "\f02b";
}
.uberwpb-webapplication-invisible:before {
  content: "\f02c";
}
.uberwpb-webapplication-italic:before {
  content: "\f02d";
}
.uberwpb-webapplication-jacket:before {
  content: "\f02e";
}
.uberwpb-webapplication-jar:before {
  content: "\f02f";
}
.uberwpb-webapplication-jewlery:before {
  content: "\f030";
}
.uberwpb-webapplication-karate:before {
  content: "\f031";
}
.uberwpb-webapplication-key-hole:before {
  content: "\f032";
}
.uberwpb-webapplication-key:before {
  content: "\f033";
}
.uberwpb-webapplication-keyboard:before {
  content: "\f034";
}
.uberwpb-webapplication-kid:before {
  content: "\f035";
}
.uberwpb-webapplication-label:before {
  content: "\f036";
}
.uberwpb-webapplication-lamp:before {
  content: "\f037";
}
.uberwpb-webapplication-laptop:before {
  content: "\f038";
}
.uberwpb-webapplication-layers:before {
  content: "\f039";
}
.uberwpb-webapplication-layout:before {
  content: "\f03a";
}
.uberwpb-webapplication-leaf:before {
  content: "\f03b";
}
.uberwpb-webapplication-leaflet:before {
  content: "\f03c";
}
.uberwpb-webapplication-learn:before {
  content: "\f03d";
}
.uberwpb-webapplication-legal:before {
  content: "\f03e";
}
.uberwpb-webapplication-lego:before {
  content: "\f03f";
}
.uberwpb-webapplication-lemon:before {
  content: "\f040";
}
.uberwpb-webapplication-lens:before {
  content: "\f041";
}
.uberwpb-webapplication-letter:before {
  content: "\f042";
}
.uberwpb-webapplication-letterbox:before {
  content: "\f043";
}
.uberwpb-webapplication-library:before {
  content: "\f044";
}
.uberwpb-webapplication-license:before {
  content: "\f045";
}
.uberwpb-webapplication-life-bouy:before {
  content: "\f046";
}
.uberwpb-webapplication-life-buoy:before {
  content: "\f047";
}
.uberwpb-webapplication-life-jacket:before {
  content: "\f048";
}
.uberwpb-webapplication-life-ring:before {
  content: "\f049";
}
.uberwpb-webapplication-light-bulb:before {
  content: "\f04a";
}
.uberwpb-webapplication-lighter:before {
  content: "\f04b";
}
.uberwpb-webapplication-lightning-ray:before {
  content: "\f04c";
}
.uberwpb-webapplication-like:before {
  content: "\f04d";
}
.uberwpb-webapplication-link:before {
  content: "\f04e";
}
.uberwpb-webapplication-live-support:before {
  content: "\f04f";
}
.uberwpb-webapplication-location-arrow:before {
  content: "\f050";
}
.uberwpb-webapplication-location-pin:before {
  content: "\f051";
}
.uberwpb-webapplication-lock:before {
  content: "\f052";
}
.uberwpb-webapplication-login:before {
  content: "\f053";
}
.uberwpb-webapplication-logout:before {
  content: "\f054";
}
.uberwpb-webapplication-lollipop:before {
  content: "\f055";
}
.uberwpb-webapplication-look:before {
  content: "\f056";
}
.uberwpb-webapplication-loop:before {
  content: "\f057";
}
.uberwpb-webapplication-luggage:before {
  content: "\f058";
}
.uberwpb-webapplication-lunch:before {
  content: "\f059";
}
.uberwpb-webapplication-lungs:before {
  content: "\f05a";
}
.uberwpb-webapplication-magic-alt:before {
  content: "\f05b";
}
.uberwpb-webapplication-magic:before {
  content: "\f05c";
}
.uberwpb-webapplication-magnet:before {
  content: "\f05d";
}
.uberwpb-webapplication-mail-box:before {
  content: "\f05e";
}
.uberwpb-webapplication-mail:before {
  content: "\f05f";
}
.uberwpb-webapplication-male:before {
  content: "\f060";
}
.uberwpb-webapplication-map:before {
  content: "\f061";
}
.uberwpb-webapplication-math:before {
  content: "\f062";
}
.uberwpb-webapplication-maximize:before {
  content: "\f063";
}
.uberwpb-webapplication-measure:before {
  content: "\f064";
}
.uberwpb-webapplication-medal:before {
  content: "\f065";
}
.uberwpb-webapplication-medical:before {
  content: "\f066";
}
.uberwpb-webapplication-medicine:before {
  content: "\f067";
}
.uberwpb-webapplication-mega-phone:before {
  content: "\f068";
}
.uberwpb-webapplication-memorial:before {
  content: "\f069";
}
.uberwpb-webapplication-memory-card:before {
  content: "\f06a";
}
.uberwpb-webapplication-mic-mute:before {
  content: "\f06b";
}
.uberwpb-webapplication-mic:before {
  content: "\f06c";
}
.uberwpb-webapplication-micro-chip:before {
  content: "\f06d";
}
.uberwpb-webapplication-microphone:before {
  content: "\f06e";
}
.uberwpb-webapplication-microscope:before {
  content: "\f06f";
}
.uberwpb-webapplication-military:before {
  content: "\f070";
}
.uberwpb-webapplication-mill:before {
  content: "\f071";
}
.uberwpb-webapplication-minus-circle:before {
  content: "\f072";
}
.uberwpb-webapplication-minus-square:before {
  content: "\f073";
}
.uberwpb-webapplication-minus:before {
  content: "\f074";
}
.uberwpb-webapplication-mobile-phone:before {
  content: "\f075";
}
.uberwpb-webapplication-molecule:before {
  content: "\f076";
}
.uberwpb-webapplication-money:before {
  content: "\f077";
}
.uberwpb-webapplication-moon:before {
  content: "\f078";
}
.uberwpb-webapplication-mop:before {
  content: "\f079";
}
.uberwpb-webapplication-muffin:before {
  content: "\f07a";
}
.uberwpb-webapplication-music-alt:before {
  content: "\f07b";
}
.uberwpb-webapplication-music-notes:before {
  content: "\f07c";
}
.uberwpb-webapplication-music:before {
  content: "\f07d";
}
.uberwpb-webapplication-mustache:before {
  content: "\f07e";
}
.uberwpb-webapplication-mute-volume:before {
  content: "\f07f";
}
.uberwpb-webapplication-navigation-menu:before {
  content: "\f080";
}
.uberwpb-webapplication-navigation:before {
  content: "\f081";
}
.uberwpb-webapplication-network-tower:before {
  content: "\f082";
}
.uberwpb-webapplication-network:before {
  content: "\f083";
}
.uberwpb-webapplication-news:before {
  content: "\f084";
}
.uberwpb-webapplication-newspaper:before {
  content: "\f085";
}
.uberwpb-webapplication-no-smoking:before {
  content: "\f086";
}
.uberwpb-webapplication-not-allowed:before {
  content: "\f087";
}
.uberwpb-webapplication-notebook:before {
  content: "\f088";
}
.uberwpb-webapplication-notepad:before {
  content: "\f089";
}
.uberwpb-webapplication-notification:before {
  content: "\f08a";
}
.uberwpb-webapplication-numbered:before {
  content: "\f08b";
}
.uberwpb-webapplication-opposite:before {
  content: "\f08c";
}
.uberwpb-webapplication-optic:before {
  content: "\f08d";
}
.uberwpb-webapplication-options:before {
  content: "\f08e";
}
.uberwpb-webapplication-package:before {
  content: "\f08f";
}
.uberwpb-webapplication-page:before {
  content: "\f090";
}
.uberwpb-webapplication-paint:before {
  content: "\f091";
}
.uberwpb-webapplication-paper-plane:before {
  content: "\f092";
}
.uberwpb-webapplication-paperclip:before {
  content: "\f093";
}
.uberwpb-webapplication-papers:before {
  content: "\f094";
}
.uberwpb-webapplication-paw:before {
  content: "\f095";
}
.uberwpb-webapplication-pay:before {
  content: "\f096";
}
.uberwpb-webapplication-pen:before {
  content: "\f097";
}
.uberwpb-webapplication-pencil:before {
  content: "\f098";
}
.uberwpb-webapplication-penguin-linux:before {
  content: "\f099";
}
.uberwpb-webapplication-pestle:before {
  content: "\f09a";
}
.uberwpb-webapplication-phone-circle:before {
  content: "\f09b";
}
.uberwpb-webapplication-phone:before {
  content: "\f09c";
}
.uberwpb-webapplication-picture:before {
  content: "\f09d";
}
.uberwpb-webapplication-pie:before {
  content: "\f09e";
}
.uberwpb-webapplication-pine:before {
  content: "\f09f";
}
.uberwpb-webapplication-pixels:before {
  content: "\f0a0";
}
.uberwpb-webapplication-play:before {
  content: "\f0a1";
}
.uberwpb-webapplication-plugin:before {
  content: "\f0a2";
}
.uberwpb-webapplication-plus-circle:before {
  content: "\f0a3";
}
.uberwpb-webapplication-plus-square:before {
  content: "\f0a4";
}
.uberwpb-webapplication-plus:before {
  content: "\f0a5";
}
.uberwpb-webapplication-polygonal:before {
  content: "\f0a6";
}
.uberwpb-webapplication-power:before {
  content: "\f0a7";
}
.uberwpb-webapplication-presentation:before {
  content: "\f0a8";
}
.uberwpb-webapplication-price:before {
  content: "\f0a9";
}
.uberwpb-webapplication-print:before {
  content: "\f0aa";
}
.uberwpb-webapplication-puzzle:before {
  content: "\f0ab";
}
.uberwpb-webapplication-qr-code:before {
  content: "\f0ac";
}
.uberwpb-webapplication-queen:before {
  content: "\f0ad";
}
.uberwpb-webapplication-question-circle:before {
  content: "\f0ae";
}
.uberwpb-webapplication-question-square:before {
  content: "\f0af";
}
.uberwpb-webapplication-question:before {
  content: "\f0b0";
}
.uberwpb-webapplication-quote-left:before {
  content: "\f0b1";
}
.uberwpb-webapplication-quote-right:before {
  content: "\f0b2";
}
.uberwpb-webapplication-radio:before {
  content: "\f0b3";
}
.uberwpb-webapplication-random:before {
  content: "\f0b4";
}
.uberwpb-webapplication-recycle:before {
  content: "\f0b5";
}
.uberwpb-webapplication-refresh:before {
  content: "\f0b6";
}
.uberwpb-webapplication-repair:before {
  content: "\f0b7";
}
.uberwpb-webapplication-reply-all:before {
  content: "\f0b8";
}
.uberwpb-webapplication-reply:before {
  content: "\f0b9";
}
.uberwpb-webapplication-resize:before {
  content: "\f0ba";
}
.uberwpb-webapplication-responsive:before {
  content: "\f0bb";
}
.uberwpb-webapplication-retweet:before {
  content: "\f0bc";
}
.uberwpb-webapplication-road:before {
  content: "\f0bd";
}
.uberwpb-webapplication-robot:before {
  content: "\f0be";
}
.uberwpb-webapplication-rocket:before {
  content: "\f0bf";
}
.uberwpb-webapplication-royal:before {
  content: "\f0c0";
}
.uberwpb-webapplication-rss-feed:before {
  content: "\f0c1";
}
.uberwpb-webapplication-safety:before {
  content: "\f0c2";
}
.uberwpb-webapplication-sale-discount:before {
  content: "\f0c3";
}
.uberwpb-webapplication-satellite:before {
  content: "\f0c4";
}
.uberwpb-webapplication-send-mail:before {
  content: "\f0c5";
}
.uberwpb-webapplication-server:before {
  content: "\f0c6";
}
.uberwpb-webapplication-settings:before {
  content: "\f0c7";
}
.uberwpb-webapplication-share-alt:before {
  content: "\f0c8";
}
.uberwpb-webapplication-share-boxed:before {
  content: "\f0c9";
}
.uberwpb-webapplication-share:before {
  content: "\f0ca";
}
.uberwpb-webapplication-shield:before {
  content: "\f0cb";
}
.uberwpb-webapplication-ship:before {
  content: "\f0cc";
}
.uberwpb-webapplication-shopping-cart:before {
  content: "\f0cd";
}
.uberwpb-webapplication-sign-in:before {
  content: "\f0ce";
}
.uberwpb-webapplication-sign-out:before {
  content: "\f0cf";
}
.uberwpb-webapplication-signal:before {
  content: "\f0d0";
}
.uberwpb-webapplication-site-map:before {
  content: "\f0d1";
}
.uberwpb-webapplication-smart-phone:before {
  content: "\f0d2";
}
.uberwpb-webapplication-soccer:before {
  content: "\f0d3";
}
.uberwpb-webapplication-sort-alt:before {
  content: "\f0d4";
}
.uberwpb-webapplication-sort:before {
  content: "\f0d5";
}
.uberwpb-webapplication-space:before {
  content: "\f0d6";
}
.uberwpb-webapplication-spanner:before {
  content: "\f0d7";
}
.uberwpb-webapplication-speech-comments:before {
  content: "\f0d8";
}
.uberwpb-webapplication-speed-meter:before {
  content: "\f0d9";
}
.uberwpb-webapplication-spinner-alt-1:before {
  content: "\f0da";
}
.uberwpb-webapplication-spinner-alt-2:before {
  content: "\f0db";
}
.uberwpb-webapplication-spinner-alt-3:before {
  content: "\f0dc";
}
.uberwpb-webapplication-spinner-alt-4:before {
  content: "\f0dd";
}
.uberwpb-webapplication-spinner-alt-5:before {
  content: "\f0de";
}
.uberwpb-webapplication-spinner-alt-6:before {
  content: "\f0df";
}
.uberwpb-webapplication-spinner:before {
  content: "\f0e0";
}
.uberwpb-webapplication-spreadsheet:before {
  content: "\f0e1";
}
.uberwpb-webapplication-square:before {
  content: "\f0e2";
}
.uberwpb-webapplication-ssl-security:before {
  content: "\f0e3";
}
.uberwpb-webapplication-star-alt-1:before {
  content: "\f0e4";
}
.uberwpb-webapplication-star-alt-2:before {
  content: "\f0e5";
}
.uberwpb-webapplication-star:before {
  content: "\f0e6";
}
.uberwpb-webapplication-street-view:before {
  content: "\f0e7";
}
.uberwpb-webapplication-sun:before {
  content: "\f0e8";
}
.uberwpb-webapplication-support-faq:before {
  content: "\f0e9";
}
.uberwpb-webapplication-tack-pin:before {
  content: "\f0ea";
}
.uberwpb-webapplication-tag:before {
  content: "\f0eb";
}
.uberwpb-webapplication-tags:before {
  content: "\f0ec";
}
.uberwpb-webapplication-tasks:before {
  content: "\f0ed";
}
.uberwpb-webapplication-telephone:before {
  content: "\f0ee";
}
.uberwpb-webapplication-telescope:before {
  content: "\f0ef";
}
.uberwpb-webapplication-terminal:before {
  content: "\f0f0";
}
.uberwpb-webapplication-thumbs-down:before {
  content: "\f0f1";
}
.uberwpb-webapplication-thumbs-up:before {
  content: "\f0f2";
}
.uberwpb-webapplication-tick-boxed:before {
  content: "\f0f3";
}
.uberwpb-webapplication-tick-mark:before {
  content: "\f0f4";
}
.uberwpb-webapplication-ticket:before {
  content: "\f0f5";
}
.uberwpb-webapplication-tie:before {
  content: "\f0f6";
}
.uberwpb-webapplication-toggle-off:before {
  content: "\f0f7";
}
.uberwpb-webapplication-toggle-on:before {
  content: "\f0f8";
}
.uberwpb-webapplication-tools:before {
  content: "\f0f9";
}
.uberwpb-webapplication-transparent:before {
  content: "\f0fa";
}
.uberwpb-webapplication-tree:before {
  content: "\f0fb";
}
.uberwpb-webapplication-umbrella:before {
  content: "\f0fc";
}
.uberwpb-webapplication-unlock:before {
  content: "\f0fd";
}
.uberwpb-webapplication-unlocked:before {
  content: "\f0fe";
}
.uberwpb-webapplication-upload-alt:before {
  content: "\f0ff";
}
.uberwpb-webapplication-upload:before {
  content: "\f100";
}
.uberwpb-webapplication-usb-drive:before {
  content: "\f101";
}
.uberwpb-webapplication-usb:before {
  content: "\f102";
}
.uberwpb-webapplication-vector-path:before {
  content: "\f103";
}
.uberwpb-webapplication-verification-check:before {
  content: "\f104";
}
.uberwpb-webapplication-video-clapper:before {
  content: "\f105";
}
.uberwpb-webapplication-video:before {
  content: "\f106";
}
.uberwpb-webapplication-volume-down:before {
  content: "\f107";
}
.uberwpb-webapplication-volume-off:before {
  content: "\f108";
}
.uberwpb-webapplication-volume-up:before {
  content: "\f109";
}
.uberwpb-webapplication-wall-clock:before {
  content: "\f10a";
}
.uberwpb-webapplication-wall:before {
  content: "\f10b";
}
.uberwpb-webapplication-wallet:before {
  content: "\f10c";
}
.uberwpb-webapplication-warning-alt:before {
  content: "\f10d";
}
.uberwpb-webapplication-warning:before {
  content: "\f10e";
}
.uberwpb-webapplication-water-drop:before {
  content: "\f10f";
}
.uberwpb-webapplication-web:before {
  content: "\f110";
}
.uberwpb-webapplication-wheelchair:before {
  content: "\f111";
}
.uberwpb-webapplication-wifi-alt:before {
  content: "\f112";
}
.uberwpb-webapplication-wifi:before {
  content: "\f113";
}
.uberwpb-webapplication-world:before {
  content: "\f114";
}
.uberwpb-webapplication-zigzag:before {
  content: "\f115";
}
.uberwpb-webapplication-zipped:before {
  content: "\f116";
}

