@font-face {
  font-family: 'directional';
  src:  url('fonts/icomoon.eot?u1w1hb');
  src:  url('fonts/icomoon.eot?u1w1hb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u1w1hb') format('truetype'),
    url('fonts/icomoon.woff?u1w1hb') format('woff'),
    url('fonts/icomoon.svg?u1w1hb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="uberwpb-directional-"], [class*=" uberwpb-directional-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'directional' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uberwpb-directional-arrow-down:before {
  content: "\eb19";
}
.uberwpb-directional-arrow-left:before {
  content: "\eb1a";
}
.uberwpb-directional-arrow-right:before {
  content: "\eb1b";
}
.uberwpb-directional-arrow-up:before {
  content: "\eb1c";
}
.uberwpb-directional-block-down:before {
  content: "\eb1d";
}
.uberwpb-directional-block-left:before {
  content: "\eb1e";
}
.uberwpb-directional-block-right:before {
  content: "\eb1f";
}
.uberwpb-directional-block-up:before {
  content: "\eb20";
}
.uberwpb-directional-bubble-down:before {
  content: "\eb21";
}
.uberwpb-directional-bubble-left:before {
  content: "\eb22";
}
.uberwpb-directional-bubble-right:before {
  content: "\eb23";
}
.uberwpb-directional-bubble-up:before {
  content: "\eb24";
}
.uberwpb-directional-caret-down:before {
  content: "\eb25";
}
.uberwpb-directional-caret-left:before {
  content: "\eb26";
}
.uberwpb-directional-caret-right:before {
  content: "\eb27";
}
.uberwpb-directional-caret-up:before {
  content: "\eb28";
}
.uberwpb-directional-circled-down:before {
  content: "\eb29";
}
.uberwpb-directional-circled-left:before {
  content: "\eb2a";
}
.uberwpb-directional-circled-right:before {
  content: "\eb2b";
}
.uberwpb-directional-circled-up:before {
  content: "\eb2c";
}
.uberwpb-directional-collapse:before {
  content: "\eb2d";
}
.uberwpb-directional-cursor-drag:before {
  content: "\eb2e";
}
.uberwpb-directional-curved-double-left:before {
  content: "\eb2f";
}
.uberwpb-directional-curved-double-right:before {
  content: "\eb30";
}
.uberwpb-directional-curved-down:before {
  content: "\eb31";
}
.uberwpb-directional-curved-left:before {
  content: "\eb32";
}
.uberwpb-directional-curved-right:before {
  content: "\eb33";
}
.uberwpb-directional-curved-up:before {
  content: "\eb34";
}
.uberwpb-directional-dotted-down:before {
  content: "\eb35";
}
.uberwpb-directional-dotted-left:before {
  content: "\eb36";
}
.uberwpb-directional-dotted-right:before {
  content: "\eb37";
}
.uberwpb-directional-dotted-up:before {
  content: "\eb38";
}
.uberwpb-directional-double-left:before {
  content: "\eb39";
}
.uberwpb-directional-double-right:before {
  content: "\eb3a";
}
.uberwpb-directional-drag:before {
  content: "\eb3b";
}
.uberwpb-directional-drag1:before {
  content: "\eb3c";
}
.uberwpb-directional-drag2:before {
  content: "\eb3d";
}
.uberwpb-directional-drag3:before {
  content: "\eb3e";
}
.uberwpb-directional-expand-alt:before {
  content: "\eb3f";
}
.uberwpb-directional-hand-down:before {
  content: "\eb40";
}
.uberwpb-directional-hand-drag:before {
  content: "\eb41";
}
.uberwpb-directional-hand-drag1:before {
  content: "\eb42";
}
.uberwpb-directional-hand-drag2:before {
  content: "\eb43";
}
.uberwpb-directional-hand-drawn-alt-down:before {
  content: "\eb44";
}
.uberwpb-directional-hand-drawn-alt-left:before {
  content: "\eb45";
}
.uberwpb-directional-hand-drawn-alt-right:before {
  content: "\eb46";
}
.uberwpb-directional-hand-drawn-alt-up:before {
  content: "\eb47";
}
.uberwpb-directional-hand-drawn-down:before {
  content: "\eb48";
}
.uberwpb-directional-hand-drawn-left:before {
  content: "\eb49";
}
.uberwpb-directional-hand-drawn-right:before {
  content: "\eb4a";
}
.uberwpb-directional-hand-drawn-up:before {
  content: "\eb4b";
}
.uberwpb-directional-hand-left:before {
  content: "\eb4c";
}
.uberwpb-directional-hand-right:before {
  content: "\eb4d";
}
.uberwpb-directional-hand-up:before {
  content: "\eb4e";
}
.uberwpb-directional-line-block-down:before {
  content: "\eb4f";
}
.uberwpb-directional-line-block-left:before {
  content: "\eb50";
}
.uberwpb-directional-line-block-right:before {
  content: "\eb51";
}
.uberwpb-directional-line-block-up:before {
  content: "\eb52";
}
.uberwpb-directional-long-arrow-down:before {
  content: "\eb53";
}
.uberwpb-directional-long-arrow-left:before {
  content: "\eb54";
}
.uberwpb-directional-long-arrow-right:before {
  content: "\eb55";
}
.uberwpb-directional-long-arrow-up:before {
  content: "\eb56";
}
.uberwpb-directional-rounded-collapse:before {
  content: "\eb57";
}
.uberwpb-directional-rounded-double-left:before {
  content: "\eb58";
}
.uberwpb-directional-rounded-double-right:before {
  content: "\eb59";
}
.uberwpb-directional-rounded-down:before {
  content: "\eb5a";
}
.uberwpb-directional-rounded-expand:before {
  content: "\eb5b";
}
.uberwpb-directional-rounded-left-down:before {
  content: "\eb5c";
}
.uberwpb-directional-rounded-left-up:before {
  content: "\eb5d";
}
.uberwpb-directional-rounded-left:before {
  content: "\eb5e";
}
.uberwpb-directional-rounded-right-down:before {
  content: "\eb5f";
}
.uberwpb-directional-rounded-right-up:before {
  content: "\eb60";
}
.uberwpb-directional-rounded-right:before {
  content: "\eb61";
}
.uberwpb-directional-rounded-up:before {
  content: "\eb62";
}
.uberwpb-directional-scroll-bubble-down:before {
  content: "\eb63";
}
.uberwpb-directional-scroll-bubble-left:before {
  content: "\eb64";
}
.uberwpb-directional-scroll-bubble-right:before {
  content: "\eb65";
}
.uberwpb-directional-scroll-bubble-up:before {
  content: "\eb66";
}
.uberwpb-directional-scroll-double-down:before {
  content: "\eb67";
}
.uberwpb-directional-scroll-double-left:before {
  content: "\eb68";
}
.uberwpb-directional-scroll-double-right:before {
  content: "\eb69";
}
.uberwpb-directional-scroll-double-up:before {
  content: "\eb6a";
}
.uberwpb-directional-scroll-down:before {
  content: "\eb6b";
}
.uberwpb-directional-scroll-left:before {
  content: "\eb6c";
}
.uberwpb-directional-scroll-long-down:before {
  content: "\eb6d";
}
.uberwpb-directional-scroll-long-left:before {
  content: "\eb6e";
}
.uberwpb-directional-scroll-long-right:before {
  content: "\eb6f";
}
.uberwpb-directional-scroll-long-up:before {
  content: "\eb70";
}
.uberwpb-directional-scroll-right:before {
  content: "\eb71";
}
.uberwpb-directional-scroll-up:before {
  content: "\eb72";
}
.uberwpb-directional-simple-down:before {
  content: "\eb73";
}
.uberwpb-directional-simple-left-down:before {
  content: "\eb74";
}
.uberwpb-directional-simple-left-up:before {
  content: "\eb75";
}
.uberwpb-directional-simple-left:before {
  content: "\eb76";
}
.uberwpb-directional-simple-right-down:before {
  content: "\eb77";
}
.uberwpb-directional-simple-right-up:before {
  content: "\eb78";
}
.uberwpb-directional-simple-right:before {
  content: "\eb79";
}
.uberwpb-directional-simple-up:before {
  content: "\eb7a";
}
.uberwpb-directional-square-down:before {
  content: "\eb7b";
}
.uberwpb-directional-square-left:before {
  content: "\eb7c";
}
.uberwpb-directional-square-right:before {
  content: "\eb7d";
}
.uberwpb-directional-square-up:before {
  content: "\eb7e";
}
.uberwpb-directional-stylish-down:before {
  content: "\eb7f";
}
.uberwpb-directional-stylish-left:before {
  content: "\eb80";
}
.uberwpb-directional-stylish-right:before {
  content: "\eb81";
}
.uberwpb-directional-stylish-up:before {
  content: "\eb82";
}
.uberwpb-directional-swoosh-down:before {
  content: "\eb83";
}
.uberwpb-directional-swoosh-left:before {
  content: "\eb84";
}
.uberwpb-directional-swoosh-right:before {
  content: "\eb85";
}
.uberwpb-directional-swoosh-up:before {
  content: "\eb86";
}
.uberwpb-directional-thin-double-left:before {
  content: "\eb87";
}
.uberwpb-directional-thin-double-right:before {
  content: "\eb88";
}
.uberwpb-directional-thin-down:before {
  content: "\eb89";
}
.uberwpb-directional-thin-left:before {
  content: "\eb8a";
}
.uberwpb-directional-thin-right:before {
  content: "\eb8b";
}
.uberwpb-directional-thin-up:before {
  content: "\eb8c";
}

